body{
  font-family: 'Monaco','Lucida Grande',Arial,Helvetica,Verdana,sans-serif;
  text-align: center;
  -webkit-text-size-adjust: 100%;
}

a, #more, #less{
  text-decoration: none;
  color :#333333;
}

a:hover, #more:hover, #less:hover{
  border-bottom: 2px dotted;
  color :#ff8b9d;
}

ul, #more, #less{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li, #more, #less{
  padding: 0.5ex 0 0.5ex;
  cursor : pointer;
}

h1{
  margin: 0;
  padding: 0.8ex 0 0.8ex;
  color :#333333;
}

.contents{
  margin-top: 10%;
}

#icon{
  border-radius: 100px;
  width: 160px;
  border: 2px #cccccc solid;
}